Django>=4.2
djangorestframework
djangorestframework-simplejwt
mysqlclient
python-dotenv
django-cors-headers
scikit-learn
nltk
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
